.spinner {
    border: 12px solid rgba(0, 0, 0, 0.15);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: delay .5s, spin 1s ease infinite;
    position: fixed;
    left: calc((100vw / 2) - 22px); /*positioning to the center with transformX(-50%) does not seem to work  */
    top: calc(100vh / 3);
    z-index: 9;
}

@keyframes delay {
    0% {
        display: none;
    }

    100% {
        display: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
