header {
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    gap: calc(var(--layout-padding-bottom-top-main) + var(--layout-padding-bottom-top));
    padding: var(--layout-padding-bottom-top) var(--layout-padding-left-right);
}

    header * {
        color: var(--secondary-foreground-color);
    }

    header a {
        text-decoration: none;
    }

    header > div {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

        header > div > h1 > a {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: .5em;
        }

        header > div > button {
            align-self: flex-end;
            /*temp*/
            background-color: transparent;
            border: none;
            font-weight: bold;
        }

    header > nav {
        align-items: center;
        display: none;
        flex-direction: column;
    }

    header > nav > div {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    header > nav > div > ul {
        display: flex;
        flex-direction: column;
        gap: .5em;
        list-style-type: none;
    }

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4em;
    padding: var(--layout-padding-bottom-top-main) 0;
}

main > ::deep form { /* positions the login form in the middle of main */
    flex-grow: 1;
    justify-content: center;
}

div.menu > header {
    flex-grow: 1;
}

div.menu > header > nav {
    display: flex;
}

div.menu > main {
    display: none;
}

@media (max-width: 640.98px) {
}

@media (min-width: 641px) {
}
